export WIREGUARD_UI_VERSION=0.4.0
export WIREGUARD_UI_PLATFORM=linux-amd64
export WG_INTERFACE=wg0
export WG_DIRECTORY=/opt/wireguard-ui
export WG_ARGS=''
export WGUI_SERVER_INTERFACE_ADDRESSES=10.252.1.1/24
export WGUI_DEFAULT_CLIENT_ALLOWED_IPS=0.0.0.0/0
export WGUI_SERVER_POST_UP_SCRIPT="iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE"
export WGUI_SERVER_POST_DOWN_SCRIPT="iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE"
# export WGUI_PASSWORD=somepassword # (if not set will create a random password. Recommended.)
