[Unit]
Description=Wireguard UI
After=network.target

[Service]
Environment=WGUI_PASSWORD="${WGUI_PASSWORD}"
Environment=WGUI_SERVER_INTERFACE_ADDRESSES="${WGUI_SERVER_INTERFACE_ADDRESSES}"
Environment=WGUI_DEFAULT_CLIENT_ALLOWED_IPS="${WGUI_DEFAULT_CLIENT_ALLOWED_IPS}"
Environment=WGUI_SERVER_POST_UP_SCRIPT="${WGUI_SERVER_POST_UP_SCRIPT}"
Environment=WGUI_SERVER_POST_DOWN_SCRIPT="${WGUI_SERVER_POST_DOWN_SCRIPT}"
TimeoutStartSec=0
Restart=always
WorkingDirectory=${WG_DIRECTORY}
ExecStart=${WG_DIRECTORY}/wireguard-ui ${WG_ARGS}
[Install]
WantedBy=multi-user.target
